TP1IdS_G15AccesoADatos/Connected Services/WrapperAutorizacion/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ISTP1.Service.Contracts.Service" elementFormDefault="qualified" targetNamespace="http://ISTP1.Service.Contracts.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://istp1service.azurewebsites.net/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" />
  <xs:element name="SolicitarAutorizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SolicitarAutorizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SGE.Service.Contracts.Data" minOccurs="0" name="SolicitarAutorizacionResult" nillable="true" type="q1:Autorizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>